@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  	border-color: #ecf0f1;
  	margin-top: 30px;
}


@media (min-width: 480px){
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
	    margin-top: 5px;
	}
}

.navbar-brand > img {
    height: 100px;
    width: 230px;
    margin-top: -30px;
}

.navbar-brand > img {
    height: 100px;
    width: 230px;
    margin-top: -38px;
    padding: 7px 12px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 19px;
    line-height: 23px;
}


.btn-lg, .btn-group-lg>.btn {
    padding: 10px 20px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 40px;
}

.btn-success {
    color: #ffffff;
    background-color: #F8262C;
    border-color: #F8262C;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #F8262C;
    border-color: #F8262C;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #252327;
}

a {
    color: #F8262C;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #F8262C;
}

.navbar-default .navbar-nav>li>a:active {
    color: #ffffff;
}

.margin_form{
    margin-left: 15px;
    margin-right: 15px;
}

.h2_negro{
    color: #252327;
}

.h2_blanco{
    color: #fff;
}

.h2-section{
    color: #F8262C;
    font-size: 22px;
}

.h3_footer{
    font-size: 20px;
}

